/* DOCUMENT INFORMATION
	- Document: Formao Theme
	- Version:  1.0.0
	- Author:   Philippe Y.
*/


/* COLORS
	- default body text  #fff    
    - button             #f39c12
    - button:hover       #d8890b
    - border             #f39c12
*/


/* FONTS
	- default Lato, sans serif
  
*/


/* CSS DIRECTORY
	1. =GLOBAL
	2. =HEADER
            = Title
            = Button
            = Arrow
    3. =NOS SERVICES
*/



/*  GLOBAL
	======================================= */ 

html {
    background-color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;

}

h1 {
    font-family: 'Lato', 'Arial', sans-serif;
    color: #333;
    text-transform: uppercase;
    font-size: 240%;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 8px
    
}

h2 {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #333;
}




h3 {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 160%;
    font-weight: 300;
    color: #333;
}



p {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

section {
    padding: 30px 0 60px 0;
}



/*  HEADER
	======================================= */ 


header {
    height: 100vh;  /*  100% viewport height * Le viewport est la zone de visualisation du navigateur */
    background-size: cover;
    background-position: center;    
    background-image: url(../images/formao-banniere.jpg);
}

.logo  {
    color: #333;
    font-size: 30px;
}

.home-title {
    position: absolute;
    top: 30%;
    
}


.home-title h1 {
    font-size: 40px;
    font-weight: 800;
    line-height:60px;
    color: #fb6830;
}

.home-title p {
    font-size: 20px;
    color: rgb(41, 67, 75);
    letter-spacing: 0.5px;
    font-weight: 300;

}

.login {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 40px;
     border : 2px solid #fff;
    transition: all 0.5s; /* https://caniuse.com/#search=css%20transition */

}

.login:hover {
    color: #fff;
    background-color: #d8890b;
    border: 2px solid #d8890b;
}

.login a {
    text-decoration: none !important;
}

.menu ul li a {
    color: #fff;
    text-transform: uppercase;
}


/*  Button
	======================================= */ 

.btn
{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius : 50px;
    transition: background-color 1s, border 1s, color 1s; /* alternative all 1s */
}


.btn-full
 {
    background-color: #f39c12; /* https://flatuicolors.com */
    color: #fff;
    margin-right: 15px;

}


.btn-ghost
{
    border: 1px solid #fff;
    color: #fff; /* http://www.0to255.com */
}


.btn-full:hover, /* La pseudo classe :hover spécifie l'apparence d'un élément lors du survole de la souris.*/
.btn-full:focus
{
    color: #fff;
    background-color: #d8890b;
    border: 1px solid #d8890b;
}

.btn-ghost:hover,
.btn-ghost:focus {
    color: #fff;
    background-color: #d8890b;
    border: 1px solid #d8890b;}

/*  Arrow Down
	======================================= */

.arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #eee;
    font-size: 30px;
    transition: color 0.2s; /* https://caniuse.com/#search=css%20transition */

        
}

.arrow-down:hover,
.arrow-down:focus {
    color: #d8890b;

}


/*  NOS SERVICES
	======================================= */ 

.service-feature {
        margin: 20px 0;
}

.service-icon {
    color: #f39c12;
    font-size: 34px;
    transition: all 1s;
    
}

.service-feature:hover .service-icon {
    color: #d8890b;
    transform: translateX(20px)
}

.service-feature-content {

}

.service-img {
    max-width: 100%;
    height: auto;
}

.icon-app {
    margin-top: 20px;
}

.icon-app img {
    height: 50px;
    width: auto;
    margin-right: 20px;

}


/*  LES METIERS DE FORMATION
	======================================= */ 

.metier {
    background-color: #fafafa;
}





/*  PORTFOLIO
	======================================= */ 

.section-portfolio {  /* https://www.heropatterns.com */
    background-color: #ffffff;
}


.section-portfolio h2 {
    
}

.portfolio-img {
  display: block;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 300px;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);

}

.portfolio-details {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 10px;
  padding: 5px;
  transition: all .8s;
  background-color: rgba(245, 245, 245, 0.8);
}

.portfolio-details h4, .portfolio-details p {
    color: #555;
    font-size: 60%;
    margin: 0;
    transition: all .8s;

}

.portfolio-img:hover .portfolio-details, .portfolio-img:hover h4, .portfolio-img:hover p {
    font-size: 100%;

    color: #000;
}


/*  CUSTOMER
	======================================= */ 


.customer {
    background-color:  #fed330;
    background-size: cover;
    background-attachment: fixed;
}

.customer h2 {
    color: #fff;
}


blockquote {
    padding: 5px;
    font-style: italic;
    line-height: 130%;
    margin-bottom: 20px;
    color: #fff;
}



cite {
    font-size: 90%;
    margin-top: 20px;
    display: block;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

blockquote:before {
    content:"\201c"; /* https://css-tricks.com/snippets/html/glyphs */
    font-size: 800%;
    font-family: 'Sanchez', serif; /*  <link href="https://fonts.googleapis.com/css?family=Sanchez:400italic,400" rel="stylesheet">  */
    position: absolute;
    top: 30px;
    left: 5px;
    color: rgba(255, 255, 255, 0.5);

}




/*  PRICE
	======================================= */ 

.price {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}


.price h3 {
    text-transform: uppercase;
    color: #f8d40b;
    font-size: 120%;
    font-weight: 400;
    margin: 0;
}


.price h4 {
    font-size: 250%;
    font-weight: 100;
    margin: 0;
}

.price span {
    font-weight: 100;
    font-size: 40%;
    position: relative;
    top: -15px;
    left: 2px
}

.price p {
    line-height: 140%;
    font-weight: 100;
    margin: 5px 0;
}

.price-title {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #f6f6f6;
}

.price-title-best {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    width: 150px;
    background-color: #fff;
    color: #f8d40b;
    border-radius: 10px;
    padding: 2px;
    position: absolute;
    top: 10px;
    right: 30px;
        
}

.price-content ul {
    list-style: none;
    padding: 20px ;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 35px
}

.price-content ul li i {
    font-size: 90%
}



.price-signup {
    text-align: center
}

.price-btn {
    background-color: #f39c12;
    color: #fff;
    margin-bottom: 10px
}

.price:hover .price-btn {
    background-color: #fff;
    color: #f39c12;
    border: 1px solid #f39c12;
    margin-bottom: 10px
}

.price-premium {
    background-color: #fcb84c;
    color: #fff
}

.price-btn-premium {
    background-color: #fff;
    margin-bottom: 10px;
    color : #f39c12;
}

.price:hover .price-btn-premium {
    background-color: #d8890b;
    margin-bottom: 10px;
    color : #fff;
}



/*  COUNTER
	======================================= */ 

.counter {
    background: #fff; 
    padding-top: 60px;
}


.counter-content {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #fff;
    color : #fff;


}

.counter-content i {
    font-size: 40px;
    margin-bottom: 10px;
}


.counter-content h3 {
    font-size: 34px;
    font-weight: 300;
    margin: 0;
    color: #fff;

}

.counter-content p {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;

}


/*  LOGO
	======================================= */

/* Source :
https://www.freepik.com/free-vector/collection-of-business-icons_777196.htm#term=logo%20templates&page=7&position=36
*/

.logo-brand {
    display: inline-block;
}

.logo-brand img {
    height: 100px;
    width: auto;
}



/* CONTACT
	======================================= */
.contact {
    padding: 0 20px;
    background-color: #ffffff;
}

.contact-content {
    padding: 0 20px;

}

.contact-info {
    padding: 0 20px;
    text-align: center;
}

.contact-form {
    height: 420px;
    padding: 20px 30px;
    margin: 60px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* http://css3please.com */

}

.contact-map {
    height: 420px;
    border-radius: 10px;
    margin: 60px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* http://css3please.com */

           
}



/* FOOTER
	======================================= */

footer {
    background-color: #363636;
    height: 60px;
    color: #fff;
    text-align: center;
}

.copyright {
    padding-top: 15px
}



@media (max-width: 767px) {
  .navbar-toggleable-sm {
    clear: both;
  }
}
