/* DOCUMENT INFORMATION
	- Document: Formao Theme
	- Version:  1.0.0
	- Author:   Philippe Y.
*/


/* COLORS
	- default body text  #fff    
    - button             #f39c12
    - button:hover       #d8890b
    - border             #f39c12
*/


/* FONTS
	- default Lato, sans serif
  
*/


/* CSS DIRECTORY
	1. =GLOBAL
	2. =HEADER
            = Title
            = Button
            = Arrow
    3. =NOS SERVICES
*/



/*  GLOBAL
	======================================= */ 

html {
    background-color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;

}

h1 {
    font-family: 'Lato', 'Arial', sans-serif;
    color: #333;
    text-transform: uppercase;
    font-size: 240%;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 8px
    
}

h2 {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #333;
      word-spacing: 10px;

}




h3 {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 160%;
    font-weight: 300;
    color: #333;
}



p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.font-arbre {
    font-family: 'Coiny';
}

section {
    padding: 30px 0 60px 0;
}



/*  HEADER
	======================================= */ 


header {
      /*  100% viewport height * Le viewport est la zone de visualisation du navigateur */
    background-size: cover;
    background-position: center;    
    background-image: url(../images/formao-banniere2.jpg);
    margin-bottom: 100px;
}

.logo  {
    color: #333;
    font-size: 30px;
}

.home-title {
    position: absolute;
    top: 20%;
}

.porte {
    margin: 40px 0;
    text-align: center;
}

.porte img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.porte h2 {
    font-size: 200%;
    word-spacing: 10px;
}



.home-title h1 {
    font-size: 40px;
    font-weight: 800;
    line-height:60px;
    color: #fb6830;
    text-align: center;
}

.home-title p {
    font-size: 20px;
    color: rgb(41, 67, 75);
    letter-spacing: 0.5px;
    font-weight: 300;

}

.login {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 40px;
     border : 2px solid #fff;
    transition: all 0.5s; /* https://caniuse.com/#search=css%20transition */

}

.login:hover {
    color: #fff;
    background-color: #d8890b;
    border: 2px solid #d8890b;
}

.login a {
    text-decoration: none !important;
}

.menu ul li a {
    color: #333;
    text-transform: uppercase;
}



.testarbre {
    margin-top: 40px

}

.testarbre h2 {
    font-size: 200%;
    margin: 5px 0
}


.testarbre p {
    font-size: 20px;
    text-align: center;
}

.testarbre p span {
    font-size: 30px;
    font-weight: 400
}


/*  Button
	======================================= */ 

.btn
{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius : 10px;
    transition: background-color 1s, border 1s, color 1s; /* alternative all 1s */
}


.btn-round {
    border-radius: 50%;
    width: 50px;
    height: auto;
    border: 1px solid #eee;
    color: #eee; /* http://www.0to255.com */
}

.btn-full
 {
    background-color: #f39c12; /* https://flatuicolors.com */
    color: #fff;
    margin-right: 15px;

}


.btn-ghost
{
    border: 1px solid #fff;
    color: #fff; /* http://www.0to255.com */
}


.btn-full:hover, /* La pseudo classe :hover spécifie l'apparence d'un élément lors du survole de la souris.*/
.btn-full:focus
{
    color: #fff;
    background-color: #d8890b;
    border: 1px solid #d8890b;
}

.btn-ghost:hover,
.btn-ghost:focus {
    color: #fff;
    background-color: #d8890b;
    border: 1px solid #d8890b;}

/*  Arrow Down
	======================================= */

.arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #eee;
    font-size: 30px;
    transition: color 0.2s; /* https://caniuse.com/#search=css%20transition */

        
}

.arrow-down:hover,
.arrow-down:focus {
    color: #d8890b;

}




.test-etancheite-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    
}

















/*  1 test = 1 arbre
	======================================= */
.section-test {
        background-size: cover;
    background-position: center;    
      background-image: url(../images/foret.jpg);
    color: #fff;
   padding: 100px 0

};



.test img {
    display: block;
    margin: 0 auto;
}

.test-image {
    margin-bottom: 80px;
}
.test-image-1 {
    width: 300px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    left: 5%;
    top: -50%;
}


.test-image-2 {
    width: 300px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    left: 45%;
    top: 30%;
    margin-bottom: 80px;
    
}

.test h2 {
    text-align: center;
    color: #fff;
    font-weight: 800;
    margin: 0 0 10px 0
}

.h2-vert {
    background-color: #66c925;
    padding: 5px;
    font-size: 40px;
    font-weight: 400;
}




.btn-arbre
 {
    color: #fff;
    margin-right: 15px;
     border: 2px solid #fff;
}

.btn-arbre:hover {
    color: #fff;
}

.btn-don
 {
    color: #fff;
    margin-right: 15px;
     background-color: #66c925;
}

.btn-don:hover {
    color: #fff;
}



/* RT 2012 */
.rt2012 {
color: #fff;
background:  linear-gradient(to right, #1E9600, #FFF200, #FF0000);    /* linear-gradient
    linear-gradient(to right, #1E9600, #FFF200, #FF0000); 
    radial-gradient(circle, #1E9600 0%, #FFF200 80%, #FF0000 100%);
    */
    
   
}

.rt2012 h2 {
    color: #fff;
}




/* Les étapes
	======================================= */
.section-etape {
    padding-bottom: 200px;
      height: 100%;
  background-image: url(../images/pickup.gif) ,url(../images/ground.jpg) ,
      url(../images/maison.png),
      url(../images/paysage.png);
  background-color: #fff;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
  background-position: left 30% bottom 24px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  -webkit-animation: back 15s infinite linear;
  animation: back 15s infinite linear;
    margin-bottom: 150px;
}



@-webkit-keyframes back {
  0% {
    background-position: left 30% bottom 24px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  }
  50% {
    background-position: left 50% bottom 24px, left -816px bottom 0px, left -508px bottom 24px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 24px, left -1632px bottom 0px, left -1016px bottom 24px, left -512px bottom 0px;
  }
}

@keyframes back {
  0% {
    background-position: left 30% bottom 24px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  }
  50% {
    background-position: left 50% bottom 24px, left -816px bottom 0px, left -508px bottom 24px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 24px, left -1632px bottom 0px, left -1016px bottom 24px, left -512px bottom 0px;
  }
}

.etape {
background-color: rgba(255,255,255,0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 8px 9px #c5c2c240;
}

.etape img {
    display: block;
    margin: 0 auto;
    width: 30%;
    background-color: #f6f6f6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.etape h3 {
    text-align: center
}


.etape:before {
    content: url(/resources/images/arrow.png);
}



/* LOGOS
	======================================= */


.label {
    margin: 50px 0 10px 0;
}


.logo-image img {
    display: block;
    height: 100px;
    width: auto;
    margin: 0 auto;
}








/* CONTACT
	======================================= */
.contact {
    padding: 0 20px;
    background-color: #ffffff;
}

.contact-content {
    padding: 0 20px;

}

.contact-info {
    padding: 0 20px;
    text-align: center;
}

.contact-form {
    height: 420px;
    padding: 20px 30px;
    margin: 60px 0;

}

.contact-map {
    height: 420px;
    border-radius: 10px;
    margin: 60px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* http://css3please.com */

           
}



/* FOOTER
	======================================= */

footer {
    background-color: #363636;
    height: 60px;
    color: #fff;
    text-align: center;
}

.copyright {
    padding-top: 15px
}



@media (max-width: 767px) {
  .navbar-toggleable-sm {
    clear: both;
  }
}
